*/log.txt
*/traceback.txt
.DS_Store
errors.txt
*.rpyb
*.rpyc
*.rpymc
*.save
shrinemystery/game/saves/persistent
shrinemystery/game/cache/bytecode.rpyb
shrinemystery/game/saves/persistent
shrinemystery/game/cache/screens.rpyb
shrinemystery/game/saves/navigation.json
shrinemystery/game/script.rpyc
